<?xml version="1.0"?>

<model>
  <name>line_track</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>  

  <author>
    <name>Arturo Escobedo</name>
    <email>arturo.escobedo@tec.mx</email>
  </author>

  <description>
    Puzzlebot line track
  </description>
</model>
